
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PÁGINA JOGO INICIAL */

body {
    width: 100%;
    height: 100%;
    background-image: url("../imgs/backgrond-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jv-icon-help {
    position: absolute;
    left: 1703px;
    top: 73px;
    filter: drop-shadow(10px 10px 10px rbga(31, 31, 31, 0.1));
    cursor: pointer;
    z-index: 1000;
}

.jv-icon-play {
    position: absolute;
    left: 806px;
    top: 513px;
}