
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PÁGINA JOGO INICIAL */

body {
    background-image: url("../imgs/backgrond-image.png");
    background-repeat: no-repeat;
}

/* importar backgroud como png do  adobe */

.jv-btn-icon-help {
    display: block;
    position: absolute;
    left: 1703px;
    top: 73px;
    cursor: pointer;
    z-index: 200;
    transition: all 0.2s ease-out;
}

.jv-btn-icon-help:hover {
    transform: scale(1.1);
}

.jv-icon-play {
    position: absolute;
    left: 806px;
    top: 513px;
    transition: all 0.2s ease-out;
}

.jv-icon-play:hover{
    transform: scale(1.1);
}

.jv-poster-help {
    visibility: hidden;
    width: 320px;
    height: 414px;
    background-color: #FEFEED;
    border-radius: 10px;
    border: 19px solid #FFD232;
    box-shadow: 30px 30px 50px rgba(31, 31, 31, 0.2);
    position: absolute;
    left: 1441px;
    top: 126px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.jv-poster-help p {
    margin: 20px 0 10px 0;
}



/* CLASES UTILITÁRIAS */

.jv-font {
    font-family: 'Itim', cursive, sans-serif;
    font-weight: 400;
}

.jv-text-red {
    font-size: 30px;
    line-height: 36px;
    color: #DD4242;
    font-weight: bolder; 

}

.jv-text-black {
    font-size: 26px;
    line-height: 31px;
    color: #1F1F1F;
    text-align: center;
}

/* CLASSES COMPORTAMENTO */

.jv-is-visible {
    visibility:visible
}
